<div class="comments">
  <h4 class="title">{{videoComments.length}} {{'upload.comment_section' | translate}}</h4>
  <!--  <form [formGroup]="form" (ngSubmit)="handleCommentFormSubmit(comment.value)">-->
  <div class="form">
    <form [formGroup]="meuFormGroup" #userPost="ngForm" (ngSubmit)="handleCommentFormSubmit(userPost.value, userPost)">
      <div class="form_box">
        <div class="random_photo">
          <img alt="photo" [src]="url+random+set">
        </div>
        <div class="inputs">
          <div class="user_data">
            <div class="box_error">
              <input type="text" name="name" id="name" placeholder="{{'upload.comment_name' | translate}}"
                     formControlName="name" ngModel>
              <div class="error"
                   *ngIf="meuFormGroup.get('name')?.errors?.['required'] && meuFormGroup.get('name')?.touched">{{'upload.no_name_value' | translate}}
              </div>
              <div class="error"
                   *ngIf="meuFormGroup.get('name')?.errors?.['minlength'] && meuFormGroup.get('name')?.touched">{{'upload.minimum_name' | translate}}
              </div>
            </div>
            <div class="box_error">
              <input type="email" name="email" id="email" placeholder="Email" formControlName="email" ngModel>
              <div class="error-email"
                   *ngIf="meuFormGroup.get('email')?.errors?.['required'] && meuFormGroup.get('email')?.touched">{{'upload.no_email_value' | translate}}
              </div>
              <div class="error-email"
                   *ngIf="meuFormGroup.get('email')?.errors?.['email'] && meuFormGroup.get('email')?.touched">{{'upload.email_format' | translate}}
              </div>
            </div>
          </div>
          <div class="message_error">
            <textarea id="message" placeholder="{{'upload.comment_message' | translate}}" formControlName="comment"
                      ngModel></textarea>
            <div class="erro_message"
                 *ngIf="meuFormGroup.get('comment')?.errors?.['required'] && meuFormGroup.get('comment')?.touched">{{'upload.no_message_value' | translate}}
            </div>
            <div class="erro_message"
                 *ngIf="meuFormGroup.get('comment')?.errors?.['minlength'] && meuFormGroup.get('comment')?.touched">{{'upload.minimum_message' | translate}}
            </div>
          </div>
        </div>
      </div>
      <div class="submit-button">
        <button type="submit">{{'upload.comment_button' | translate}}</button>
      </div>
    </form>
  </div>
  <div class="comment-box">
    <div class="comment" *ngFor="let c of videoComments">
      <div class="photo">
        <img alt="user photo" [src]="url+c.name.replace(' ', '')+set">
      </div>
      <div class="content">
        <div class="user_data">
          <div class="user">
            <p class="name" [innerHTML]="c.name"></p>
          </div>
          <div class="timestamp">
            <span class="ago">{{'upload.timestamp' | translate}}</span>
            <span class="date" [innerHTML]="c.date"></span>
          </div>
        </div>
        <div>
          <p class="textfield" [innerHTML]="c.comment.replace('&nbsp;', '').replace('<p>', '<span>')"></p>
          <div class="report">
            <p class="report-comment">Denunciar comentário <fa-icon (click)="handleReport(c.id)" class="flag" [icon]="faFlag"></fa-icon></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--<div class="comments">-->
<!--  <h4 class="title">Comentários</h4>-->
<!--  <div class="form">-->
<!--&lt;!&ndash;    <form [formGroup]="meuFormGroup" #userPost="ngForm" (ngSubmit)="handleCommentFormSubmit(userPost.value)">&ndash;&gt;-->
<!--    <form [formGroup]="meuFormGroup" #userPost="ngForm" (ngSubmit)="handleCommentFormSubmit(userPost.value, userPost)">-->
<!--      <div class="form_box">-->
<!--        <div class="inputs">-->
<!--          <div class="user_data">-->
<!--            <input type="text" name="name" id="name" placeholder="Nome" formControlName="name" ngModel>-->
<!--            <div class="erro" *ngIf="meuFormGroup.get('name')?.errors?.['required'] && meuFormGroup.get('name')?.touched">Campo obrigatório</div>-->
<!--            <div class="erro" *ngIf="meuFormGroup.get('name')?.errors?.['minlength'] && meuFormGroup.get('name')?.touched">Este campo deve ter no mínimo 2 caractéres</div>-->
<!--            <input type="email" name="email" id="email" placeholder="Email" formControlName="email" ngModel>-->
<!--            <div class="erro" *ngIf="meuFormGroup.get('email')?.errors?.['required'] && meuFormGroup.get('email')?.touched">Campo obrigatório </div>-->
<!--            <div class="erro" *ngIf="meuFormGroup.get('email')?.errors?.['email'] && meuFormGroup.get('email')?.touched">Formato de email incorreto </div>-->
<!--            <textarea id="message" placeholder="Mensagem" formControlName="comment" ngModel></textarea>-->
<!--            <div class="erro" *ngIf="meuFormGroup.get('comment')?.errors?.['required'] && meuFormGroup.get('comment')?.touched">Campo obrigatório </div>-->
<!--            <div class="erro" *ngIf="meuFormGroup.get('comment')?.errors?.['minlength'] && meuFormGroup.get('comment')?.touched">Este campo deve ter no mínimo 2 caractéres</div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="submit-button">-->
<!--        <button type="submit" (click)="postar()" [disabled]="!meuFormGroup.valid">Submeter comentário</button>-->
<!--      </div>-->
<!--    </form>-->
<!--  </div>-->
<!--</div>-->
