<div class="uploads">
  <p class="title">{{'upload.video_section' | translate}}</p>
  <div class="videos">
    <div class="video" *ngFor="let v of videos" >
    <div class="outer_box" routerLink="/video/{{v.id}}" routerLinkActive="active">
      <div class="inner_box" title="{{v.title}}">
        <img class="thumbnail" alt="thumbnail"
             [src]="v.video.replace('https://www.youtube.com/watch?v=', 'https://img.youtube.com/vi/') + image_url"/>
        <div class="details" [innerHTML]="v.duration"></div>
        <div>
          <p class="tags">
            <span *ngFor="let tag of v.tags.split(',').slice(0, 3)"
                  routerLink="/tags/{{tag.split(' ').join('')}}"
                  routerLinkActive="active"
            >#{{tag.split(' ').join('')}} </span>
          </p>
        </div>
      </div>
      <p class="title" [innerHTML]="v.title"></p>
      <div class="date">
        <p class="ago" *ngIf="lang=='pt'">{{'upload.timestamp' | translate}}</p>
        <p class="timestamp" [innerHTML]="v.date"></p><span class="ago" *ngIf="lang=='en'"> {{'upload.time_ago' | translate}}</span>
      </div>
    </div>
    <div class="outer_box_empty" *ngIf="videos.length % 2 !== 0"></div>
  </div>
</div>
</div>
