.uploads {
  display: flex;

  .videos {
    margin-left: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 25px;

    .outer_box_empty {
      width: 313px;
    }

    .outer_box:hover {
      cursor: pointer;
    }

    .outer_box:hover {
      .title {
        color: rgba(255, 255, 255, 100%);
      }

      .thumbnail {
        transform: scale(1.05);
      }
    }

    .outer_box {
      width: 313px;
      border-radius: 16px;
      background-color: #1c1c24;

      .image {
        height: 180px;
        width: 310px;
        object-fit: cover;
        border-radius: 16px 16px 0 0;
        overflow: hidden;

        .thumbnail {
          height: 100%;
          width: 100%;
          scale: (1.07);
          object-fit: cover;
          border-radius: 16px 16px 0 0;
        }
      }

      .time_actions {
        display: flex;
        justify-content: space-between;

        .date {
          display: flex;
          padding-top: 7px;
          padding-bottom: 3px;
          margin-left: 16px;
          font-size: 13px;

          p {
            &.ago {
              margin-right: 5px;
            }
          }

          span {
            &.ago {
              margin-left: 5px;
            }
          }

          .timestamp, .ago {
            color: #92929d;
            margin-top: 0;
          }
        }

        .actions {
          display: flex;
          justify-content: flex-end;
          padding-right: 10px;
          width: 84px;

          .ng-fa-icon {
            font-size: 18px;
            color: #92929D;
            cursor: pointer;
            padding-right: 10px;
          }

          fa-icon:hover {
            color: #FFFFFF;
          }

          .share:hover {
            background-image: url("../../../../assets/ic_ShareWhite.svg");
          }

          .share {
            background-image: url("../../../../assets/ic_Share.svg");
            background-size: cover;
            cursor: pointer;
            height: 23px;
            margin-right: 5px;
            padding-right: 23px;
            padding-bottom: 12px;
          }
        }
      }

      .inner_box {
        height: 200px;
        position: relative;

        .duration {
          display: flex;
          position: absolute;
          align-items: center;
          justify-content: center;
          height: 20px;
          margin-left: 16px;
          width: 50px;
          top: 140px;
          background-color: #1c1c24;
          border-radius: 5px;
          color: #FAFAFB;
          font-size: 11px;
        }

        .tags {
          padding-top: 2px;
          margin-top: 5px;
          margin-left: 16px;
          color: #1e75ff;
          font-size: 13px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }

      .title {
        margin-left: 16px;
        margin-top: 9px;
        margin-bottom: 5px;
        margin-right: 80px;
        color: rgba(255, 255, 255, 70%);
        font-size: 16px;
        font-weight: 400;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}

@media screen and (max-width: 560px) {
  .uploads {
    padding-bottom: 120px;
  }
}
