<div class="uploads">
  <div class="videos">
    <div class="outer_box" *ngFor="let c of category_videos">
      <div class="inner_box" routerLink="/video/{{c.title}}" routerLinkActive="active" title="{{c.title}}">
        <div class="image">
        <img alt="thumbnail" class="thumbnail"
             [src]="c.videos.replace('https://www.youtube.com/watch?v=', 'https://img.youtube.com/vi/') + image_url"/>
        </div>
        <div class="duration" [innerHTML]="c.duration"></div>
        <p class="tags">
            <span class="tag" *ngFor="let tag of c.tags.split(', ').slice(0, 3)"
                  routerLink="/tags/{{tag}}"
                  routerLinkActive="active"
                  (click)="$event.stopPropagation()"
            >#{{tag}} </span>
        </p>
      </div>
      <p class="title" routerLink="/video/{{c.title}}" routerLinkActive="active" [innerHTML]="c.title"></p>
      <div class="time_actions">
      <div class="date" routerLink="/video/{{c.title}}" routerLinkActive="active">
        <p class="ago" *ngIf="lang=='pt'">{{'upload.timestamp' | translate}}</p>
        <p class="timestamp" [innerHTML]="c.date"></p>
        <span class="ago" *ngIf="lang=='en'">{{'upload.time_ago' | translate}}</span>
      </div>
      <div class="actions">
        <div class="bookmark" (click)="changeFavorite(c.id)">
          <fa-icon [icon]="favourite(c.id)? faBookmarkSolid : faBookmark"></fa-icon>
        </div>
        <div class="share" (click)="clickShare(c.videos)"></div>
      </div>
      </div>
    </div>
  </div>
</div>
