<div class="uploads">
  <p class="page_title">Artigos de Temáticas</p>
  <div class="videos">
    <div *ngFor="let a of articles" class="video">
      <div class="outer_box" routerLink="/articles/{{a.id}}" routerLinkActive="active">
        <div class="inner_box" title="{{a.title}}">
          <img class="header" alt="header" [src]="image_url + a.header">
        </div>
        <div>
          <p class="tags">
            <span *ngFor="let tag of a.tags.split(',').slice(0, 3)"
                  routerLink="/tags/{{tag.split(' ').join('')}}"
                  routerLinkActive="active"
            >#{{tag.split(' ').join('')}} </span>
          </p>
        </div>
        <p class="title" [innerHTML]="a.title"></p>
        <div class="teaser"><p class="article-teaser" [innerHTML]="a.teaser"></p>
        </div>
      </div>
    </div>
    <div class="outer_box_empty" *ngIf="articles.length % 2 !== 0"></div>
  </div>
</div>
