<div class="suggestions">
  <div class="sidebar">
    <div class="sugested-channels">
      <div class="headline">
        <h2 routerLink="/channels/">Canais sugeridos</h2>
      </div>
      <div class="sugestion" *ngFor="let c of channelsList | slice: 0: 5">
        <!--      <div class="sugestion">-->
        <div class="channel-section">
          <img class="logo" alt="logo" [src]="image_url + c.logo" routerLink="/channels/{{c.id}}"
               routerLinkActive="active">
          <h2 class="channel_title" routerLink="/channels/{{c.id}}" routerLinkActive="active">{{c.title}}</h2>
        </div>
      </div>
      <div class="more" routerLink="/channels/">MOSTRAR MAIS</div>
    </div>
    <div class="suggested-thematics">
      <div class=thematic_headline>
        <h2>Temáticas sugeridas</h2>
        <p routerLink="/thematics/">VER TODAS</p>
      </div>
      <div class="thematic" *ngFor="let t of thematics | slice: 0: 5" routerLink="/thematics/{{t.title}}"
           routerLinkActive="active">
        <div class="box">
          <div class="top">
            <div class="thematic_info">
              <div class="thematic_thumbnail">
                <img class="logo" alt="logo" [src]="image_url + t.thumbnail">
              </div>
              <div class="thematic_title">
                <h2 [innerHTML]="t.title"></h2>
              </div>
            </div>
           <a class="tag"><span *ngFor="let tag of t.tags.split(',').slice(0, 3)"
                 routerLink="/tags/{{tag.split(' ').join('')}}"
                 routerLinkActive="active"
            >#{{tag.split(' ').join('')}} </span></a>
          </div>
          <div class="image">
            <img class="header" alt="header" [src]="image_url + t.header" routerLink="/thematics/{{t.title}}">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
