
.header{
  margin-top: 10px;
  font-style: normal;
  font-size: 16px;
  letter-spacing: 0.1px;
  color: #FAFAFB;
  margin-left: 20px;
}

.body {
  justify-content: flex-start;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: row;

    .container {
      display: flex;
      width: 30%;
      //justify-content: center;
      margin-left: 40px;

      .row {
        width: 50%;
        position: absolute;
        //top: 30em;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 35px;
        padding-bottom: 25px;
        margin-left: 30px;

        .cel {
          width: 22.5rem;
          border-radius: 1rem;
          background-color: #1c1c24;
          position: relative;

          .card_image {
            width: 22.5rem;
            height: 11rem;
            object-fit: cover;
            border-radius: 1rem 1rem 0 0;
            overflow: hidden;
          }

          .small_image {
            height: 100%;
            width: 100%;
            cursor: pointer;
            left: 0;
            top: 0;
            border-radius: 20px 20px 0 0;
            transition: all linear 0.4s;
          }

          .small_image:hover {
            filter: grayscale(70%);
            transform: scale(1.1);
          }

          .itens {
            margin: 20px;

            .name {
              color: #1E75FF;
              font-size: 14px;
              letter-spacing: 0.1px;
              margin-bottom: 3px;
            }

            .titleVideo {
              color: #FAFAFB;
              font-size: 18px;
              margin-bottom: 3px;
            }

            .date {
              font-size: 14px;
              letter-spacing: 0.1px;
              color: #92929D;
            }

            .duration {
              display: flex;
              position: absolute;
              align-items: center;
              justify-content: center;
              height: 1.5rem;
              width: 3rem;
              top: 7.5rem;
              margin-left: 1rem;
              background-color: #171725;
              border-radius: 0.5rem;
              color: #ffffff;
              font-size: 0.8rem;
              font-weight: 500;
            }
            .logo {
              border-radius: 50%;
              overflow: hidden;
              height: 60px;
              width: 60px;
              position: absolute;
              top: 9rem;
              margin-left: 16rem;
              border: 2px solid #FFFFFF;
              background-color: #1C1C24;
              cursor: pointer;
            }
            .ng-fa-icon {
              font-size: 1.3em;
              color: #92929D;
              cursor: pointer;
              position: absolute;
              top: 17.5rem;
              margin-left: 16rem;
            }
            .faIcon {
              font-size: 1.3em;
              color: #92929D;
              cursor: pointer;
              position: absolute;
              top: 17.5rem;
              margin-left: 18rem;
            }
          }
        }
      }
    }

    h2 {
      position: absolute;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
      letter-spacing: 0.1px;
      color: #FAFAFB;
      left: 10px;
    }

    p {
      //position: absolute;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
      letter-spacing: 0.1px;
      color: #FAFAFB;
      left: 10px;
      cursor: pointer;
    }
  }











