<div class="header">
  <h1>{{'upload.homepage_title' | translate}}</h1>
</div>
<div class="body">
  <div class="container">
    <div class="row">
      <div class="cel" *ngFor="let v of videos">
        <div class="box">
          <div class="card_image" routerLink="/video/{{v.id}}" routerLinkActive="active">
            <img class="thumbnail" alt="thumbnail"
                 [src]="v.video.replace('https://www.youtube.com/watch?v=', 'https://img.youtube.com/vi/') + imageUrl"/>
            <div class="channel_logo"><img class="logo" alt="logo" [src]="image_url + v.logo">
            </div>
          </div>
          <div class="itens">
            <div class="video_info">
              <p class="name" routerLinkActive="active" [innerHTML]="v.channel"></p>
              <p class="titleVideo" routerLink="/video/{{v.id}}" routerLinkActive="active" [innerHTML]="v.title"></p>
              <div class="date">
                <p class="ago" *ngIf="lang=='pt'">{{'upload.timestamp' | translate}}</p>
                <p class="timestamp" [innerHTML]="v.date"></p><span class="ago"> {{'upload.time_ago' | translate}}</span>
              </div>
              <p class="duration" [innerHTML]="v.duration"></p>
            </div>
            <div class="actions">
              <div class="bookmark" (click)="changeFavorite(v.id)">
                <fa-icon [icon]="favourite(v.id)? faBookmarkSolid : faBookmark"></fa-icon>
              </div>
              <div class="share" alt="share" (click)="clickShare(v.video)"></div>
              <!--              <fa-icon class="faIcon" [icon]="faShare" (click)="share(v.video)"></fa-icon>-->
                <!--<fa-icon class="share-button" [icon]="faShare" (click)="clickShare(v.video)"></fa-icon>-->
              <!-- <img class="share-button" alt="share" src="../../../assets/ic_Share.svg" (click)="clickShare(v.video)"> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="suggestions">
  <app-suggested-channels></app-suggested-channels>
  <app-suggested-thematics></app-suggested-thematics>
  </div>
</div>


