 <div class="sidebar">
    <div class="suggested-channels">
  <div class="headline">
    <h2 routerLink="/channels/">Canais sugeridos</h2>
  </div>
  <div class="sugestion" *ngFor="let c of channelsList | slice: 0: 5">
    <!--      <div class="sugestion">-->
    <div class="channel-section">
      <img class="logo" alt="logo" [src]="image_url + c.logo" routerLink="/channels/{{c.id}}"
           routerLinkActive="active">
      <h2 class="channel_title" routerLink="/channels/{{c.id}}" routerLinkActive="active">{{c.title}}</h2>
    </div>
  </div>
  <div class="more" routerLink="/channels/">MOSTRAR MAIS</div>
</div>
  </div>
