<div class="uploads">
  <div class="videos">
    <div class="outer_box" *ngFor="let t of tag_videos" routerLink="/video/{{t.video_id}}" routerLinkActive="active">
      <div class="inner_box" title="{{t.title}}">
        <img alt="thumbnail" class="thumbnail"
             [src]="t.videos.replace('https://www.youtube.com/watch?v=', 'https://img.youtube.com/vi/') + image_url"/>
        <div class="details" [innerHTML]="t.duration"></div>
        <p class="tags">
            <span class="tag" *ngFor="let tag of t.tags.split(', ').slice(0, 3)"
                  routerLink="/tags/{{tag}}"
                  routerLinkActive="active"
                  (click)="$event.stopPropagation()"
            >#{{tag}} </span>
        </p>
      </div>
      <p class="title" [innerHTML]="t.title"></p>
      <div class="date">
        <p class="ago">há</p>
        <p class="timestamp" [innerHTML]="t.date"></p>
      </div>
    </div>
  </div>
</div>
