<div class="thematics" *ngFor="let t of thematics">
  <div class="header">
    <img alt="header" class="header_image" [src]="image_url+t.header">
  </div>
  <div class="thematic_info">
    <div class="picture_section">
      <img alt="logo" class="logo" [src]="image_url+t.thumbnail">
    </div>
      <h4 class="title" title="{{t.title.replace('-', ' ')}}">{{t.title.replace('-', ' ')}}</h4>
      <h3 class="title"> ○ Artigo de Temática</h3></div>
  <p class="description" [innerHTML]="t.description"></p>
</div>
