<div class="uploads">
  <div class="videos">
    <div class="outer_box" *ngFor="let v of videos" routerLink="/video/{{v.id}}" routerLinkActive="active">
      <div class="inner_box">
        <img class="thumbnail"
             [src]="v.video.replace('https://www.youtube.com/watch?v=', 'https://img.youtube.com/vi/') + image_url"/>
        <div class="details">{{v.duration}}</div>
        <p class="tags">#{{v.tags}}</p>
      </div>
      <p class="title">{{v.title}}</p>
      <p class="timestamp">{{v.date}}</p>
    </div>
  </div>
</div>
