<div class="uploads">
  <div class="videos">
    <div class="outer_box" *ngIf="videos" routerLink="/video/{{videos.id}}" routerLinkActive="active">
      <div class="inner_box">
        <img class="thumbnail"
             [src]="videos.video.replace('https://www.youtube.com/watch?v=', 'https://img.youtube.com/vi/') + image_url"/>
        <div class="details">{{videos.duration}}</div>
        <p class="tags">#{{videos.tags}}</p>
      </div>
      <p class="title" title="{{videos.title}}">{{videos.title}}</p>
      <p class="timestamp">{{videos.date}}</p>
    </div>
  </div>
</div>
