<div class="details-body">
  <div class="container" *ngIf="video">
    <div class="inside-box">
      <div class="title-box">
        <div class="title-container">
          <h1 class="title">{{video.title}}</h1>
          <fa-icon class="flag" [icon]="faFlag"></fa-icon>
        </div>
        <div class="tags">
          <a class="tag-item" *ngFor="let tag of video.tags.split(',').slice(0, 3)"
             routerLink="/tags/{{tag.split(' ').join('')}}"
             routerLinkActive="active"
          >#{{tag.split(' ').join('')}}</a>
        </div>
        <div class="video-line">
          <div class="video">
            <youtube-player
              [videoId]="getYoutubeId(video.video)"
              [height]="450"
              [width]="420"
            ></youtube-player>
          </div>

        </div>
        <div class="channel-box">
          <div class="photo">
            <img class="logo" [src]="image_url + video.logo">
          </div>
          <div class="title-like">
            <div class="second-box">
              <div class="title"><p class="channel-title">{{video.channel}}</p></div>
              <div class="date"><p>{{video.date}}</p></div>
            </div>
            <div class="like-dislike">
              <fa-icon (click)="handleLike()" class="like"
                       [icon]="isLiked()? faThumbsUpSolid : faThumbsUp"></fa-icon>
              <p>{{video.likes}}</p>
<!--              <div>|</div>-->
              <fa-icon (click)="handleDislike()" class="dislike"
                       [icon]="isDisliked()? faThumbsDownSolid : faThumbsDown"></fa-icon>
              <p>{{video.dislikes}}</p>
            </div>
          </div>
        </div>
        <div class="description-box">
          <div class="description">
            <p [innerHTML]="video.description"></p>
          </div>
        </div>
      </div>
      <div class="comments">
        <div class="comments-info">
        </div>
        <div class="submit-button">

        </div>
      </div>
      <div class="comments">
        <app-video-comments [video_id]="video.id"></app-video-comments>
      </div>
    </div>
  </div>
  <div class="suggested-videos">
    <app-suggested-videos></app-suggested-videos>
  </div>
</div>
