<div class="comments">
  <h4 class="title">{{comments.length}} {{'upload.comment_section' | translate}}</h4>
  <div class="form">
    <form [formGroup]="meuFormGroup" #userPost="ngForm" (ngSubmit)="handleCommentFormSubmit(userPost.value, userPost)">
      <div class="form-box">
        <div class="random_photo">
          <img alt="photo" [src]="url+random+set">
        </div>
        <div class="inputs">
          <div class="use_data">
            <div class="box_error">
              <input type="text" name="name" id="name" placeholder="{{'upload.comment_name' | translate}}"
                     formControlName="name" ngModel>
              <div class="error"
                   *ngIf="meuFormGroup.get('name')?.errors?.['required'] && meuFormGroup.get('name')?.touched">{{'upload.no_name_value' | translate}}
              </div>
              <div class="error"
                   *ngIf="meuFormGroup.get('name')?.errors?.['minlength'] && meuFormGroup.get('name')?.touched">{{'upload.minimum_name' | translate}}
              </div>
            </div>
            <div class="box_error">
              <input type="email" name="email" id="email" placeholder="Email" formControlName="email" ngModel>
              <div class="error-email"
                   *ngIf="meuFormGroup.get('email')?.errors?.['required'] && meuFormGroup.get('email')?.touched">{{'upload.no_email_value' | translate}}
              </div>
              <div class="error-email"
                   *ngIf="meuFormGroup.get('email')?.errors?.['email'] && meuFormGroup.get('email')?.touched">{{'upload.email_format' | translate}}
              </div>
            </div>
          </div>
          <div class="message_error">
            <textarea id="message" placeholder="{{'upload.comment_message' | translate}}" formControlName="comment"
                      ngModel></textarea>
            <div class="erro_message"
                 *ngIf="meuFormGroup.get('comment')?.errors?.['required'] && meuFormGroup.get('comment')?.touched">{{'upload.no_message_value' | translate}}
            </div>
            <div class="erro_message"
                 *ngIf="meuFormGroup.get('comment')?.errors?.['minlength'] && meuFormGroup.get('comment')?.touched">{{'upload.minimum_message' | translate}}
            </div>
          </div>
        </div>
      </div>
      <div class="submit-button">
        <button type='submit'>{{'upload.comment_button' | translate}}</button>
      </div>
    </form>
  </div>
  <div class="comment" *ngFor="let c of comments">
    <div class="photo">
      <img alt="user photo" [src]="url+c.name.replace(' ', '')+set">
    </div>
    <div class="content">
      <div class="user_data">
        <div class="user">
          <p class="name" [innerHTML]="c.name"></p>
        </div>
        <div class="timestamp">
          <span class="ago" *ngIf="lang=='pt'">{{'upload.timestamp' | translate}}</span>
          <span class="date" [innerHTML]="c.date"></span><span class="ago" *ngIf="lang=='en'"> {{'upload.time_ago' | translate}}</span>
        </div>
        <div class="report">
          <p (click)="handleReport(c.id)" class="report-comment">{{'upload.report_comment' | translate}} <fa-icon class="flag" [icon]="faFlag"></fa-icon></p>
        </div>
      </div>
      <div id="snackbar">A sua denúncia foi enviada!</div>
      <p class="textfield" [innerHTML]="c.comment.replace('&nbsp;', '').replace('<p>', '<span>')"></p>
    </div>
  </div>
</div>
