<!--<div class="uploads">-->
<!--  <div class="videos">-->
<!--    <div class="outer_box" *ngFor="let v of videosPlaylist" routerLink="/video/{{v.id}}" routerLinkActive="active">-->
<!--      <div class="inner_box">-->
<!--        <img class="thumbnail"-->
<!--             [src]="v.video.replace('https://www.youtube.com/watch?v=', 'https://img.youtube.com/vi/') + image_url"/>-->
<!--        <div class="details" [innerHTML]="v.duration">-->
<!--        </div>-->
<!--        <div routerLink="/tags/{{v.tags_id}}"-->
<!--             routerLinkActive="active">-->
<!--          <p class="tags">{{v.tags.replace(",", " ").split(",").slice(0, 3)}}</p>-->
<!--        </div>-->
<!--      </div>-->
<!--      <p class="title" title="{{v.title}}" [innerHTML]="v.title"></p>-->
<!--      <p class="timestamp" [innerHTML]="v.date"> atrás</p>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<div class="header">
  <h1>Vídeos Favoritos</h1>
</div>
<div class="uploads">
  <div class="videos">
    <div class="cel" *ngFor="let f of favorites_list" routerLink="/video/{{f.id}}" routerLinkActive="active">
      <div class="box">
        <div class="card_image">
          <a [routerLink]="['/video/']" routerLinkActive="active">
            <img class="small_image"
               [src]="f.video.replace('https://www.youtube.com/watch?v=', 'https://img.youtube.com/vi/') + imageUrl"/>
          </a>
        </div>
        <div class="itens">
          <p class="name" routerLink="/video/{{f.id}}" routerLinkActive="active">{{f.channel}}</p>
          <p class="titleVideo" routerLink="/video/{{f.id}}" routerLinkActive="active">{{f.title}}</p>
          <p class="date" routerLink="/video/{{f.id}}" routerLinkActive="active">{{f.date}}</p>
          <p class="duration">{{f.duration}}</p>
          <img class="logo" [src]="image_url + f.logo" routerLink="/video/{{f.id}}" routerLinkActive="active">
        </div>
      </div>
    </div>
  </div>
</div>



