.header {
  margin-left: 30px;
  margin-top: 30px;
  letter-spacing: 0.1px;
  color: #FAFAFB;

  h1 {
    font-size: 24px;
  }
}

@media screen and (max-width: 560px) {
  .header {
    margin-top: 86px;
  }
}

  .no_favorites {
    font-size: 16px;
    color: #FAFAFB;
    margin-left: 30px;
    margin-top: 0;
  }

  .uploads {
    display: flex;
    justify-content: flex-start;
    margin-left: 30px;

    .videos {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      gap: 20px;
      padding-bottom: 25px;

      .cel:hover {
        .small_image {
          transform: scale(1.05);
        }

        .itens {
          .video_title {
            color: rgba(255, 255, 255, 100%);
          }
        }
      }

      .cel {
        width: 340px;
        border-radius: 16px;
        background-color: #1c1c24;
        position: relative;
        cursor: pointer;

        .card_image {
          width: 340px;
          height: 160px;
          border-radius: 16px 16px 0 0;
          overflow: hidden;

          .logo-section {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: space-evenly;
            padding-right: 20px;

            .logo:hover {
              transform: scale(1.03);
            }

            .logo {
              border: 3px solid #FFFFFF;
              border-radius: 50%;
              cursor: pointer;
              // overflow: hidden;
              height: 60px;
              width: 60px;
              // z-index: 100;
              position: absolute;
              object-fit: cover;
            }
          }
        }

        .small_image {
          object-fit: cover;
          height: 100%;
          width: 100%;
          left: 0;
          top: 0;
          border-radius: 20px 20px 0 0;
          transition: all linear 0.4s;
        }

        .itens {
          margin-right: 20px;
          //margin-left: 20px;
          //margin-top: 20px;
          margin-left: 16px;
          height: 100px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          margin-bottom: 5px;

          .timestamp_actions {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .date {
              font-size: 13px;
              letter-spacing: 0.1px;
              color: #92929D;
              //padding-top: 8px;
              padding-bottom: 15px;

              span {
                &.ago {
                  margin-right: 5px;
                }
              }
            }

            .actions {
              display: flex;
              justify-content: flex-end;
              margin-right: -15px;
              margin-bottom: 7px;
             // padding-right: 5px;
              width: 84px;
              //width: 165px;
             // padding-top: 5px;
            // padding-left: 80px;
             // display: flex;
             // // justify-content: flex-end;
             // // padding-left: 80px;
             // // padding-right: 5px;
             // width: 84px;
              //width: 165px;
              // padding-top: 65px;
              // padding-right: 20px;

              .ng-fa-icon {
                font-size: 18px;
                color: #92929D;
                cursor: pointer;
                padding-right: 12px;
                // position: absolute;
                //top: 280px;
                // margin-left: 256px;
              }

              fa-icon:hover {
                color: #FFFFFF;
              }

              .share-button:hover {
                color: #FFFFFF;
              }

              .share-button {
                height: 20px;
                cursor: pointer;
                padding-right: 15px;
                color: #FFFFFF;
                // position: absolute;
                // top: 280px;
                //  margin-left: 288px;
              }

              .share-button {
                // background-image: ../../../assets/ic_Share.svg;
                // position: absolute;
                // top: 280px;
                //  margin-left: 288px;
              }
            }
          }

          .name {
          color: #1E75FF;
         //  font-size: 14px;
         //  letter-spacing: 0.1px;
         //  margin-bottom: 5px;
         //  margin-top: 6px;
            font-size: 13px;
            letter-spacing: 0.1px;
            cursor: pointer;
            margin: 0;
            padding-top: 15px;
          }

          .video_title {
          // color: rgba(255, 255, 255, 80%);
          // font-size: 18px;
          // //margin-bottom: 3px;
          // margin-bottom: 0;
          // margin-top: 0;
            color: rgba(255, 255, 255, 70%);
            cursor: pointer;
            // font-size: 17px;
            font-size: 16px;
            margin-bottom: 0;
            margin-top: 0;
           // padding-top: 4px;
            width: 100%;
            max-width: 280px;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          .duration {
            display: flex;
            position: absolute;
            align-items: center;
            justify-content: center;
            height: 20px;
            width: 50px;
            top: 120px;
            // top: 110px;
            //margin-left: 16px;
            background-color: #1c1c24;
            border-radius: 5px;
            color: #ffffff;
            font-size: 11px;
            //  font-weight: 500;
          }
        }
      }
    }
  }





