.header {
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: 30px;
  letter-spacing: 0.1px;
  color: #FAFAFB;

  h1 {
    font-size: 25px;
  }
}

.body {
  justify-content: flex-start;
  width: 100%;
  display: flex;

  .suggestions {
    justify-content: flex-start;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    padding-right: 30px;
    padding-left: 10px;
  }

  @media screen and (max-width: 1285px) {
    .suggestions {
      padding-right: 25px;
    }
  }

  @media screen and (max-width: 941px) {
    .suggestions {
      display: none;
    }
  }

  .container {
    display: flex;
    margin-left: 0;

    .row {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      gap: 20px;
      padding-bottom: 25px;
      margin-left: 30px;

      .cel:hover {
        .itens {
          .titleVideo {
            color: rgba(255, 255, 255, 100%);
          }
        }

        .thumbnail {
          transform: scale(1.05);
        }
      }

      .cel {
        width: 340px;
        border-radius: 16px;
        background-color: #1c1c24;
        position: relative;
        cursor: pointer;

        .box {
          .channel_logo {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: space-evenly;
            padding-right: 20px;

            .logo {
              border: 3px solid #FFFFFF;
              border-radius: 50%;
              cursor: pointer;
              height: 60px;
              width: 60px;
              position: absolute;
            }
          }
        }

        .card_image {
          width: 340px;
          height: 160px;
          object-fit: cover;
          border-radius: 16px 16px 0 0;
          overflow: hidden;
        }

        .thumbnail {
          height: 100%;
          width: 100%;
          cursor: pointer;
          left: 0;
          top: 0;
          border-radius: 20px 20px 0 0;
          object-fit: cover;
          transition: all linear 0.4s;
        }

        .itens {
          margin-left: 16px;
          height: 100px;
          display: flex;
          justify-content: space-between;

          .actions {
            display: flex;
            justify-content: flex-end;
            padding-right: 10px;
            width: 84px;
            padding-top: 65px;

            .ng-fa-icon {
              font-size: 18px;
              color: #92929D;
              cursor: pointer;
              padding-right: 10px;
            }

            fa-icon:hover {
              color: #FFFFFF;
            }

            .share:hover {
              background-image: url("../../../assets/ic_ShareWhite.svg");
            }

            .share {
              background-image: url("../../../assets/ic_Share.svg");
              background-size: cover;
              cursor: pointer;
              height: 23px;
              margin-right: 5px;
              padding-right: 23px;
              padding-bottom: 12px;
            }
          }

          .name {
            color: #1e75ff;
            font-size: 13px;
            letter-spacing: 0.1px;
            cursor: pointer;
            margin: 0;
            padding-top: 10px;
          }

          .titleVideo {
            color: rgba(255, 255, 255, 70%);
            cursor: pointer;
            font-size: 16px;
            margin: 0;
            padding-top: 8px;
            width: 100%;
            max-width: 280px;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          .date {
            display: flex;
            padding-top: 10px;

            span {
              &.ago {
                margin-left: 5px;
              }
            }

            .timestamp, .ago {
              color: #92929d;
              font-size: 13px;
              margin: 0;
            }

            .ago {
              margin-right: 4px;
            }
          }

          .duration {
            display: flex;
            position: absolute;
            align-items: center;
            justify-content: center;
            height: 20px;
            width: 50px;
            top: 120px;
            background-color: #1c1c24;
            border-radius: 5px;
            color: #ffffff;
            font-size: 11px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 560px) {
  .header {
    padding-top: 35px;
  }
}

@media screen and (max-width: 560px) {
  .body {
    padding-bottom: 120px;
  }
}







