<div class="inputs">
  <form>
  <div class="first-box">
    <div class="logo">
      <img alt="photo" [src]="url+random+set">
    </div>
    <div class="name-email">
      <input type="text" id="name" placeholder="Nome">
      <input type="email" id="email" placeholder="E-mail">
    </div>
  </div>
  <div class="message">
    <input type="text" id="message" placeholder="Mensagem">
  </div>
  <div class="submit-button">
    <button type='submit'>Submeter Comentário</button>
  </div>
  </form>

  <div class="comments" *ngFor="let c of videoComments">
    <div class="first-line">
      <img alt="photo" [src]="url+c.name.replace(' ', '')+set">
        <div class="name-date">
          <span class="name" [innerHTML]="c.name"></span>
          <span class="ago">Há</span>
          <span class="date" [innerHTML]="c.date" ></span>
        </div>
    </div>
      <p class="comment" [innerHTML]="c.comment.replace('&nbsp;', '').replace('<p>', '<span>')">"</p>
  </div>
</div>


