@import url('https://fonts.cdnfonts.com/css/space-grotesk');

.wrapper {
  margin: auto;
  margin-bottom: 20px;
  font-family: "Space Grotesk";
  padding-left: 212px;
  overflow: hidden;

  select {
    border-radius: 10px;
    font-family: "Space Grotesk";
    margin-left: 25px;
    margin-top: 15px;
    background-color: #1C1C24;
    border: none;
    width: 85px;
    font-size: 11px;
    color: rgba(255, 255, 255, 80%);
    padding-left: 5px;
  }

  select:hover {
    color: rgba(255, 255, 255, 100%);

  }

  @media screen and (max-width: 560px) {
    select {
      position: fixed;
      z-index: 1000;
      margin-top: 44px;
      margin-left: 10px;
    }
  }
}

@media screen and (max-width: 560px) {
  .wrapper {
    padding-left: 0;
  }
}
