
//@media screen and (max-width: 1285px) {
//  padding-right: 15px
//}

// @media screen and (max-width: 941px) {
//   display: none;
// }

  .sidebar {
    justify-content: right;
    // position: relative;
    flex-wrap: wrap;

  //sugested-channels {
  // //position: relative;
  // width: 304px;
  // //height: 416px;
  // margin-bottom: 30px;
  // //left: 62rem;
  // //top: 36px;
  // background: #1C1C24;
  // border-radius: 15px;

  // .headline {
  //   // position: relative;
  //   display: flex;
  //   align-items: center;
  //   width: 100%;
  //   height: 48px;
  //   //left: 0rem;
  //   //top: 0.9rem;
  //   //background: #92929D;
  //   border-radius: 15px 15px 0 0;
  //   //background: rgba(103, 101, 101, 0.2);
  //   border-bottom: 1px solid rgba(255, 255, 255, 20%);

  //   h2 {
  //     margin-left: 20px;
  //     font-size: 15px;
  //     cursor: pointer;
  //   }
  // }

  // .more {
  //   // position: absolute;
  //   //height: 32px;
  //   width: 100%;
  //   margin-top: 20px;
  //   height: 45px;
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  //   color: white;
  //   //left: 0rem;
  //   // top: 384px;
  //   background: #92929D;
  //   border-radius: 0 0 15px 15px;
  //   background: rgba(103, 101, 101, 0.2);
  //   font-size: 12px;
  //   cursor: pointer;

  //   .letter {
  //     //  position: absolute;
  //     //display: flex;
  //     //align-items: center;
  //     //justify-content: center;
  //     // top: -0.3rem;
  //     left: 104px;
  //     font-size: 14px;
  //     line-height: 21px;
  //     color: #FAFAFB;
  //     width: 100%;
  //   }
  // }

  // .channel-section:hover {
  //   .channel_title {
  //     color: rgba(255, 255, 255, 100%);
    //    }
    //  }
//
    //  .channel-section {
    //    display: flex;
    //    align-items: flex-end;
    //    cursor: pointer;
    //    //justify-content: flex-start;
    //    // align-items: center;
//
    //    .logo {
    //      border-radius: 50%;
    //      overflow: hidden;
    //      height: 48px;
    //      width: 48px;
    //      background-color: #1C1C24;
    //      margin: 20px 0 0 15px;
    //      border: 2px solid #FFFFFF;
    //      //background-color: #1C1C24;
    //      // cursor: pointer;
    //    }
//
    //    .channel_title {
    //      color: rgba(255, 255, 255, 80%);
    //      //margin: 20px 0 0 60px;
    //      padding-left: 20px;
    //      // cursor: pointer;
    //    }
    //  }
    //}

    .suggested-thematics {
      // position: absolute;
      width: 304px;
      //height: 300px;
      //left: 62rem;
      //  top: 470px;
      background: #1C1C24;
      border-radius: 15px;

      .thematic:hover {
       // color: #FFFFFF;

        .thematic_info {

          .thematic_title {
            h2 {
              color: rgba(255, 255, 255, 100%);
            }
          }
        }
      }

      .thematic {
        color: #92929D;
        cursor: pointer;
        //margin-top: -10px;

        .box {
          //margin-bottom: 5px;
          margin-top: 10px;
          border-bottom: 1px solid rgba(255, 255, 255, 10%);
          //  cursor: pointer;
          //color: #92929D;
          // margin: 45px 0 0 70px;

          .image {
            margin-bottom: 20px;
          }
        }
      }

      .thematic_headline {
        //  position: relative;
        color: rgba(255, 255, 255, 80%);
        width: 100%;
        height: 48px;
        border-radius: 15px 15px 0 0;
        border-bottom: 1px solid rgba(255, 255, 255, 10%);
        display: flex;
        justify-content: space-between;
       // justify-content: space-around;


        h2 {
          font-size: 14px;
          margin-top: 15px;
         margin-left: 16px;
          font-weight: 500;
        }

        p {
          cursor: pointer;
          font-size: 12px;
          margin-right: 16px;
          font-weight: 600;
        }

        p:hover {
          color: rgba(255, 255, 255, 100%);
        }
      }

      .top {
        // display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-left: 20px;

        .tag {
          // padding-left: 15px;
          //padding-left: 42px;
          // margin-top: -20px;
          // padding-bottom: 5px;
         font-size: 13px;
         // padding-left: 53px;
          padding-left: 60px;
         // margin-top: -35px;
         // margin-bottom: 15px;
        }

        span:hover {
        color: rgba(255, 255, 255, 100%);
        }

        .logo {
          border-radius: 50%;
          overflow: hidden;
          height: 50px;
          width: 50px;
          background-color: #1C1C24;
          //margin: 20px 0 0 15px;
         // border: 2px solid #FFFFFF;
          //background-color: #1C1C24;
          // cursor: pointer;
        }

        .thematic_info {
          display: flex;
          height: 45px;
          // align-items: flex-end;
         // margin-bottom: -10px;
          margin-bottom: -18px;
          //align-items: center;

          .thematic_thumbnail {
            padding-bottom: 10px;
          }

          .thematic_title {
            // margin: 5px 0 0 70px;
            margin-top: -5px;
            padding-left: 10px;
            // cursor: pointer;

            h2 {
              font-size: 16px;
              color: rgba(255, 255, 255, 80%);
              width: 205px;
              display: -webkit-box;
              -webkit-line-clamp: 1;
              -webkit-box-orient: vertical;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }
        }
      }

      .image {
        display: flex;
        justify-content: center;
        margin-top: 7px;

        .header {
          //width: 90%;
          //height: 70%;
          //margin: 15px 0 0 13px;
          margin-top: 5px;
          object-fit: cover;
          width: 270px;
          height: 170px;
          border-radius: 15px;
        }
      }
    }
  }

  h2 {
    // position: absolute;
    // font-style: normal;
    // font-weight: 500;
    font-size: 14px;
    //line-height: 21px;
    //letter-spacing: 0.1px;
    color: #FAFAFB;
    // left: 10px;
  }

  p {
    //position: absolute;
    // font-style: normal;
    // font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.1px;
    color: #FAFAFB;
    // left: 10px;
  }

