.playlist {
  color: #FFFFFF;

  .header {
    // margin: 50px 0 35px 30px;
    margin-top: 20px;
    margin-left: 30px;

    h1 {
      font-size: 25px;
    }

    h5 {
      font-size: 15px;
    }
  }
}
