.details-body {
  display: flex;
  //width: 95%;
  padding-right: 35px; //test
  margin-top: 30px;

  .container {
    display: flex;
    width: 100%;
    padding-left: 30px;

    .inside-box {
      width: 85%;
      .title-box {
        display: flex;
        flex-direction: column;

        .title-container {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .title {
            font-style: normal;
            color: #FAFAFB;
            font-size: 22px;
            margin: 0;
          }

          .flag {
            display: flex;
            flex-direction: row-reverse;
            color: rgba(255, 255, 255, 70%);
            font-size: 20px;
            margin-left: 2px;
          }

          .flag:hover {
            font-size: 1.2em;
            color: rgba(255, 255, 255, 100%);
            transition-timing-function: ease-in-out;
            cursor: pointer;

          }

          #snackbar {
            visibility: hidden;
            min-width: 200px;
            margin-left: -125px;
            background-color: rgba(255, 255, 2555, 90%);
            color: #1C1C24;
            font-weight: 600;
            text-align: center;
            border-radius: 10px;
            padding: 12px;
            position: fixed;
            z-index: 1;
            left: 50%;
            bottom: 30px;
          }

          #snackbar.show {
            visibility: visible;
            -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
            animation: fadein 0.5s, fadeout 0.5s 2.5s;
          }

          @-webkit-keyframes fadein {
            from {bottom: 0; opacity: 0;}
            to {bottom: 30px; opacity: 1;}
          }

          @keyframes fadein {
            from {bottom: 0; opacity: 0;}
            to {bottom: 30px; opacity: 1;}
          }

          @-webkit-keyframes fadeout {
            from {bottom: 30px; opacity: 1;}
            to {bottom: 0; opacity: 0;}
          }

          @keyframes fadeout {
            from {bottom: 30px; opacity: 1;}
            to {bottom: 0; opacity: 0;}
          }
        }


        .tags {
          margin-top: 10px;
          margin-bottom: 10px;
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;

          .tag-item {
            margin-top: 10px;
            margin-bottom: 10px;
            margin-right: 5px;
            text-decoration: none;
            color: #1e75ff;
            cursor: pointer;
          }
        }
      }

      .video-line {
        display: flex;
      }


      .video {
        overflow: hidden;
        z-index: 1;
        border-radius: 20px 20px;
        width: 100%;
      }

      .channel-box:hover {
        .channel-title, .date {
          color: rgba(255, 255, 255, 100%);
        }
      }

      .channel-box {
        display: flex;
        margin-top: 15px;

        .photo {
          display: flex;
          align-content: flex-end;
          align-items: flex-end;
          padding-bottom: 5px;
          cursor: pointer;
        }

        .logo {
          border-radius: 50%;
          width: 70px;
          height: 70px;
          border: 2px solid #FFFFFF;
        }


        .title-like {
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex: 1;

          .second-box {
            cursor: pointer;
          }

          .date {
            display: flex;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
          }
        }

        .channel-info {
          display: flex;
          flex-direction: column;
          font-weight: 400;
          letter-spacing: 0.1px;
          width: 100%;
          margin-top: inherit;
        }

        .channel-title {
          font-style: normal;
          font-size: 16px;
          color: rgba(255, 255, 255, 80%);
          padding-bottom: 5px;
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }

        .date {
          font-style: normal;
          color: #92929D;
          font-size: 14px;
        }

        .like-dislike {
          padding-right: 10px;
          padding-bottom: 20px;;
          display: flex;
          align-items: center;

          .bar {
            color: rgba(255, 255, 255, 100%);
          }

          .like {
            display: flex;
            align-items: center;
            cursor: pointer;
            color: rgba(255, 255, 255, 70%);

            fa-icon {
              font-size: 20px;
            }

            .like_count {
              margin-left: 8px;
            }
          }

          .like:hover {
            color: rgba(255, 255, 255, 100%);
            transition-timing-function: ease-in-out;
          }

          .dislike {
            color: rgba(255, 255, 255, 70%);
            display: flex;
            margin-left: 15px;
            cursor: pointer;

            fa-icon {
              font-size: 20px;
            }

            p {
              margin-left: 8px;
            }
          }

          .dislike:hover {
            color: rgba(255, 255, 255, 100%);
          }
        }

        p {
          margin-top: 1px;
          margin-bottom: 2px;
          margin-left: 15px;
        }
      }

      .description-box {
        width: 100%;
        background: #1C1C24;
        border-radius: 10px;
        margin-top: 15px;

        .description {
          width: 98%;
          font-size: 14px;
          text-align: justify;
          color: #FAFAFB;
          margin: auto;

          p {
            margin-left: 10px;
            margin-right: 10px;
            margin-bottom: 10px;
            margin-top: 10px;
          }
        }
      }
    }
  }

  .comments {
    margin-top: 15px;
  }

  .suggested-videos {
    display: flex;
    justify-content: flex-end;
  }
}

@media screen and (max-width: 560px) {
  .details-body {
    padding-top: 35px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 600px) {
  .details-body {
    padding-top: 50px;

    .container {
      .inside-box {
        .title-box {
          .title-container {
            .flag {
              padding-right: 25px;
            }
          }
        }
        .channel-box {
          .title-like {
            display: block;

            .like-dislike {
              padding-top: 5px;
              padding-left: 15px;
              padding-right: 0;
              padding-bottom: 10px;
            }
          }
        }
      }
    }
  }
}
