<div class="details-body">
  <div class="container" *ngIf="video">
    <div class="inside-box">
      <div class="title-box">
        <div class="title-container">
          <h1 class="title">{{video.title}}</h1>
          <fa-icon class="flag" [icon]="faFlag" (click)="handleReport(video.id)"></fa-icon>
        </div>
        <div class="tags">
          <span class="tag-item" *ngFor="let tag of video.tags.split(',').slice(0, 3)"
             routerLink="/tags/{{tag.split(' ').join('')}}"
             routerLinkActive="active"
          >#{{tag.split(' ').join('')}} </span>
        </div>
        <div class="video-line">
          <div class="video">
            <app-youtube-player controls="0"
                                [id]="getYoutubeId(video.video)"></app-youtube-player>
          </div>
        </div>
        <div class="channel-box" title="{{video.channel}}">
          <div class="photo" routerLink="/channels/{{video.channel_id}}">
            <img class="logo" alt="video" [src]="image_url + video.logo">
          </div>
          <div class="title-like">
            <div class="second-box" routerLink="/channels/{{video.channel_id}}">
              <div class="title"><p class="channel-title">{{video.channel}}</p></div>
              <div class="date"><p>{{'upload.timestamp' | translate}} {{video.date}}</p></div>
            </div>
            <div class="like-dislike">
              <div class="like" (click)="handleLike()">
                <fa-icon [icon]="isLiked()? faThumbsUpSolid : faThumbsUp"></fa-icon>
                <p class="like_count">{{video.likes}}</p>
              </div>
              <p class="bar">|</p>
              <div class="dislike" (click)="handleDislike()">
                <fa-icon [icon]="isDisliked()? faThumbsDownSolid : faThumbsDown"></fa-icon>
                <p>{{video.dislikes}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="description-box">
          <div class="description">
            <p [innerHTML]="video.description"></p>
          </div>
        </div>
      </div>
      <div class="comments">
        <app-video-comments [video_id]="video.id"></app-video-comments>
      </div>
    </div>
    <div class="suggested-videos">
    </div>
  </div>
  <div class="suggested-videos" *ngIf="video">
    <app-suggested-videos [mainVideoTags]="video.tags"></app-suggested-videos>
  </div>
</div>
