.big-box {
  display: flex;
  margin-right: 30px;
  margin-left: 15px;
}

.container-box {
  margin-top: 69px;

  .cel:hover {
    .small_image {
      transform: scale(1.1);
    }

    .itens {
      .title {
        color: rgba(255, 255, 255, 100%);
      }
    }
  }

  .cel {
    width: 19rem;
    border-radius: 1rem;
    background-color: #1c1c24;
    position: relative;
    cursor: pointer;

    .card_image {
      width: 19rem;
      height: 9.99rem;
      object-fit: cover;
      border-radius: 1rem 1rem 0 0;
      overflow: hidden;
    }

    .small_image {
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;
      border-radius: 20px 20px 0 0;
      transition: all linear 0.4s;
    }

    .itens {
      margin-right: 20px;
      margin-left: 15px;
      height: 100px;
      margin-top: -5px;
      margin-bottom: 20px;

      .name {
        color: #1E75FF;
        font-size: 14px;
        letter-spacing: 0.1px;
        margin: 0;
        padding-top: 15px;
      }

      .title {
        color: rgba(255, 255, 255, 80%);
        font-size: 16px;
        margin: 0;
        margin-bottom: -5px;
        padding-top: 7px;
        width: 100%;
        max-width: 260px;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        text-decoration: none;
      }

      .ago_actions {
        display: flex;
        justify-content: space-between;
        align-items: baseline;

        .actions {
          margin-top: 14px;
          display: flex;
          justify-content: flex-end;
          margin-right: -10px;
          width: 84px;

          .ng-fa-icon {
            font-size: 18px;
            color: #92929D;
            cursor: pointer;
            padding-right: 10px;
          }

          fa-icon:hover {
            color: #FFFFFF;
          }

          .share:hover {
            background-image: url("../../../../assets/ic_ShareWhite.svg");
          }

          .share {
            background-image: url("../../../../assets/ic_Share.svg");
            background-size: cover;
            height: 23px;
            cursor: pointer;
            margin-right: 5px;
            padding-right: 23px;
            padding-bottom: 12px;
          }
        }

        .date {
          display: flex;
          margin-top: 5px;

          span {
            &.ago {
              margin-left: 5px;
            }
          }

          .timestamp, .ago {
            color: rgba(255, 255, 255, 70%);
            font-size: 13.5px;
            margin: 0;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          .ago {
            margin-right: 4px;
          }
        }
      }

      .duration {
        display: flex;
        position: absolute;
        align-items: center;
        justify-content: center;
        height: 20px;
        width: 40px;
        top: 120px;
        margin-left: 0;
        background-color: #1c1c24;
        border-radius: 5px;
        color: #ffffff;
        font-size: 10px;
      }

      .logo {
        border-radius: 50%;
        overflow: hidden;
        height: 59px;
        width: 60px;
        position: absolute;
        top: 7.8rem;
        margin-left: 13rem;
        border: 2px solid #FFFFFF;
        background-color: #1C1C24;
      }
    }
  }
}

@media screen and (max-width: 845px) {
  .big-box {
    display: none;
  }
}
