.big-box {
  display: flex;
  margin-right: 30px;
  margin-left: 15px;

  h2 {
    //position: absolute;
    //font-style: normal;
    // font-weight: 500;
    font-size: 14px;
    //line-height: 21px;
    // letter-spacing: 0.1px;
    color: #FAFAFB;
    // left: 10px;
  }

  p {
    //position: absolute;
    // font-style: normal;
    // font-weight: 500;
    font-size: 14px;
    // line-height: 21px;
    // letter-spacing: 0.1px;
    color: #FAFAFB;
    // left: 10px;
    // cursor: pointer;
  }
}


.container-box {
  margin-top: 69px;

  .cel:hover {
    .small_image {
      transform: scale(1.1);
    }

    .itens {
      .title {
        color: rgba(255, 255, 255, 100%);
      }
    }
  }

  .cel {
    width: 19rem;
    border-radius: 1rem;
    background-color: #1c1c24;
    position: relative;
    cursor: pointer;


    .card_image {
      width: 19rem;
      height: 9.99rem;
      object-fit: cover;
      border-radius: 1rem 1rem 0 0;
      overflow: hidden;
    }

    .small_image {
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;
      border-radius: 20px 20px 0 0;
      transition: all linear 0.4s;
    }

    .itens {
      margin-right: 20px;
      margin-left: 20px;
      height: 100px;
      margin-top: -5px;
      margin-bottom: 20px;

      .name {
        color: #1E75FF;
        font-size: 14px;
        letter-spacing: 0.1px;
        // margin-bottom: 3px;
        margin: 0;
        padding-top: 15px;
        // margin-top: 5px;
      }

      .title {
        //color: #FAFAFB;
        color: rgba(255, 255, 255, 80%);
        font-size: 16px;
        margin: 0;
        padding-top: 7px;
        width: 100%;
        max-width: 260px;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        // margin-bottom: 3px;
        text-decoration: none;
      }

      .ago_actions {
        display: flex;
        justify-content: space-between;
        align-items: baseline;

        .actions {
          margin-top: 8px;
          display: flex;
          justify-content: flex-end;
          margin-right: -15px;
          // padding-left: 80px;
         // padding-right: 5px;
          width: 84px;
          //width: 165px;
          //padding-top: 65px;
          // padding-right: 20px;

          .ng-fa-icon {
            font-size: 18px;
            color: #92929D;
            cursor: pointer;
            padding-right: 10px;
            // position: absolute;
            //top: 280px;
            // margin-left: 256px;
          }

          fa-icon:hover {
            color: #FFFFFF;
          }

          .share:hover {
            background-image: url("../../../../assets/ic_ShareWhite.svg");
          }

          .share {
            background-image: url("../../../../assets/ic_Share.svg");
            background-size: cover;
            height: 23px;
            cursor: pointer;
            // padding-right: 24px;
            // padding-bottom: 5px;
            margin-right: 5px;
            padding-right: 23px;
            padding-bottom: 12px;
            // position: absolute;
            // top: 280px;
            //  margin-left: 288px;
          }

          // .share-button {
          //   // background-image: ../../../assets/ic_Share.svg;
          //   // position: absolute;
          //   // top: 280px;
          //   //  margin-left: 288px;
          // }
        }

        .date {
          display: flex;
          margin-top: 10px;

          span {
            &.ago {
              margin-left: 5px;
            }
          }

          .timestamp, .ago {
            color: rgba(255, 255, 255, 70%);
            font-size: 13.5px;
            margin: 0;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          .ago {
            margin-right: 4px;
          }
        }
      }
      .duration {
        display: flex;
        position: absolute;
        align-items: center;
        justify-content: center;
        height: 20px;
        width: 40px;
        top: 120px;
        // top: 110px;
        //margin-left: 16px;
        background-color: #1c1c24;
        border-radius: 5px;
        color: #ffffff;
        font-size: 10px;
        //  font-weight: 500;
      }

      .logo {
        border-radius: 50%;
        overflow: hidden;
        height: 59px;
        width: 60px;
        position: absolute;
        top: 8.4rem;
        margin-left: 13rem;
        border: 2px solid #FFFFFF;
        background-color: #1C1C24;
      }
    }
  }
}

@media screen and (max-width: 845px) {
  .big-box {
    display: none;
  }
}
