<div class="big-box">
  <div class="container-box">
    <div class="cel" *ngFor="let video of videos | slice: 0: 2">
      <div class="box" routerLink="/video/{{video.id}}" routerLinkActive="active" title="{{video.title}}">
        <div class="card_image">
          <img class="small_image" alt="thumbnail"
               [src]="video.video.replace('https://www.youtube.com/watch?v=', 'https://img.youtube.com/vi/') + imageUrl"/>
        </div>
        <div class="itens">
          <p class="name">{{video.channel}}</p>
          <a class="title">{{video.title}}</a>
          <div class="ago_actions">
          <div class="date">
            <p class="ago" *ngIf="lang=='pt'">{{'upload.timestamp' | translate}}</p>
            <p class="timestamp" [innerHTML]="video.date"></p><span class="ago"> {{'upload.time_ago' | translate}}</span>
          </div>
          <p class="duration">{{video.duration}}</p>
          <div class="actions">
            <div class="bookmark" (click)="changeFavorite(video.id)">
              <fa-icon [icon]="favourite(video.id)? faBookmarkSolid : faBookmark"></fa-icon>
            </div>
            <div class="share">
              <!--              <fa-icon class="faIcon" [icon]="faShare" (click)="share(v.video)"></fa-icon>-->
              <!--<fa-icon class="share-button" [icon]="faShare" (click)="clickShare(v.video)"></fa-icon>-->
              <img class="share-button" alt="share" src="../../../assets/ic_Share.svg" (click)="clickShare(video.video)">
            </div>
          </div>
          </div>
          <a>
            <img class="logo" alt="logo" [src]="image_url + video.logo">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>


