.uploads {
  display: flex;
  justify-content: center;

  .videos {
    position: absolute;
    top: 5em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 25px;

    .outer_box {
      width: 19.5rem;
      border-radius: 1rem;
      background-color: #1c1c24;

      .thumbnail {
        height: 11rem;
        width: 19.5rem;
        object-fit: cover;
        border-radius: 1rem 1rem 0 0;
      }

      .timestamp {
        margin-left: 1rem;
        color: #92929d;
        font-size: 0.9rem;
      }

      .inner_box {
        height: 12.5rem;
        position: relative;

        .details {
          display: flex;
          position: absolute;
          align-items: center;
          justify-content: center;
          height: 1.5rem;
          width: 3rem;
          top: 9rem;
          margin-left: 1rem;
          background-color: #171725;
          border-radius: 0.5rem;
          color: #ffffff;
          font-size: 0.8rem;
          font-weight: 500;
        }

        .tags {
          position: absolute;
          top: 11rem;
          margin-left: 1rem;
          color: #1e75ff;
          font-size: 0.85rem;
        }
      }

      .title {
        margin-left: 1rem;
        margin-bottom: 0.5rem;
        color: #FFFFFF;
        font-size: 1rem;
        font-weight: 400;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}

