.uploads {
  display: flex;
  justify-content: flex-start;
  margin-left: 30px;

  .videos {
    top: 5em;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 25px;

    .cel:hover {
      .small_image {
        transform: scale(1.1);
      }

      .itens {
        .titleVideo {
          color: rgba(255, 255, 255, 100%);
        }
      }
    }

    .cel {
      width: 320px;
      height: 270px;
      border-radius: 16px;
      background-color: #1c1c24;
      position: relative;

      .card_image {
        margin-bottom: 15px;
        width: 320px;
        height: 176px;
        object-fit: cover;
        border-radius: 16px 16px 0 0;
        overflow: hidden;
      }

      .small_image {
        object-fit: cover;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        border-radius: 20px 20px 0 0;
        transition: all linear 0.4s;
      }

      .itens {
        margin-top: -10px;
        margin-left: 16px;

        .date_share {
          display: flex;
          justify-content: space-between;

          .date {
            cursor: pointer;
            margin-top: 10px;
            font-size: 13px;
            letter-spacing: 0.1px;
            color: #92929D;

            .ago {
              display: inline;
              margin-right: 5px;
            }

            .timestamp {
              display: inline;
            }
          }
        }

        .name {
          color: #1E75FF;
          font-size: 14px;
          letter-spacing: 0.1px;
          margin-bottom: 3px;
          cursor: pointer;
        }

        .titleVideo {
          color: rgba(255, 255, 255, 80%);
          font-size: 16px;
          margin-bottom: 3px;
          margin-top: 8px;
          margin-right: 50px;
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          cursor: pointer;
        }

        .duration {
          display: flex;
          position: absolute;
          align-items: center;
          justify-content: center;
          height: 20px;
          width: 50px;
          top: 130px;
          background-color: #1c1c24;
          border-radius: 5px;
          color: #ffffff;
          font-size: 11px;
        }

        .logo {
          border-radius: 50%;
          overflow: hidden;
          height: 60px;
          width: 60px;
          position: absolute;
          top: 144px;
          margin-left: 256px;
          border: 2px solid #FFFFFF;
          background-color: #1C1C24;
          cursor: pointer;
        }

        .actions {
          display: flex;
          justify-content: flex-end;
          align-items: flex-end;
          margin-right: 7px;

          .ng-fa-icon {
            font-size: 18px;
            color: #92929D;
            cursor: pointer;
            padding-right: 10px;
          }

          fa-icon:hover {
            color: #FFFFFF;
          }

          .share:hover {
            background-image: url("../../../../assets/ic_ShareWhite.svg");
          }

          .share {
            background-image: url("../../../../assets/ic_Share.svg");
            background-size: cover;
            cursor: pointer;
            height: 23px;
            margin-right: 5px;
            padding-right: 23px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 560px) {
  .header {
    margin-top: 86px;
  }
}

@media screen and (max-width: 560px) {
  .uploads {
    padding-bottom: 120px;
  }
}
