<div class="uploads">
  <div class="videos">
    <div class="outer_box" *ngFor="let t of tag_videos" routerLink="/video/{{t.video_id}}" routerLinkActive="active">
      <div class="inner_box">
        <img class="thumbnail"
             [src]="t.videos.replace('https://www.youtube.com/watch?v=', 'https://img.youtube.com/vi/') + image_url"/>
        <div class="details">{{t.duration}}</div>
        <p class="tags" routerLink="/tags/{{t.tags_id}}"
           routerLinkActive="active">{{t.tags.split(",").slice(0, 3).join(" ")}}</p>
        <!--  routerLinkActive="active">{{t.tags.replace(" ,", " ").split(",").slice(0, 3)}}</p>-->
      </div>
      <p class="title" title="{{t.title}}">{{t.title}}</p>
      <p class="timestamp">{{t.date}} atrás</p>
    </div>
  </div>
</div>
