.mobile {
  display: none;
}

.side-bar {
  height: 100%;
  width: 220px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #1c1c24;
  overflow-x: hidden;
  padding-top: 10px;
  color: rgba(255, 255, 255, 80%);
  transition: all 0.5s ease-in-out;

  .menu {

   // padding-top: 20px;

    .menu-item {
      border-left: 2px solid #1c1c24;
     //height: 40px;
     //padding-bottom: 60px;

      &.active {
        border-left: 2px solid #FFFFFF;
        color: rgba(255, 255, 255, 100%);
      }
    }

    .menu-item:hover {
      //  border-left: 2px solid #FFFFFF;
      color: rgba(255, 255, 255, 100%);
      cursor: pointer;
    }
  }

  .nav {
    border-top: 1px solid rgba(255, 255, 255, 10%);
  }

  p {
    display: inline-block;
  }

  fa-icon {
    padding: 20px;
    width: 60px;
    display: inline-block;
  }

  .logo {
    display: flex;
    justify-content: center;
  height: 55px;
    margin-top: -10px;

    img {
      width: 100%;
      max-width: 150px;
     // max-width: 80%;
    }
  }

  .tags {
//    display: block;

    .tags_title {
      width: 200px;
      padding-top: 10px;
      padding-left: 16px;
      //padding: 16px;
      font-size: 13px;
      color: rgba(255, 255, 255, 70%);
    }
    .tag {
      margin-left: 20px;

      .user_tags:hover {
        cursor: pointer;
        border: solid 2px rgba(255, 255, 255, 50%);
        color: rgba(255, 255, 255, 100%);
      }

      .user_tags {
        // display: flex;
        margin-right: 5px;
        border: solid 2px rgba(255, 255, 255, 10%);
        border-radius: 5px;
        padding-left: 6px;
        padding-right: 6px;
        padding-bottom: 4px;

        p {
          font-size: 13px;
          margin-bottom: 5px;
          //margin: 0;
        }
      }
    }
  }
}

.hide-bar {
  display: none;
  color: white;
  font-size: 25px;
  position: absolute;
  margin-top: 20px;
  margin-left: 20px;
  z-index: 10;
}
@media screen and (max-width: 450px) {
  .logo-bar {
    .mobile {
      img {
        width: 170px;
        padding-top: 10px;
      }
    }
  }
}

@media screen and (max-width: 560px) {
  .logo-bar {
   // padding-top: 100px;
   // position: absolute;
    //position: relative;
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 63px;
  //  height: 60px;
    background-color: #1C1C24;
    //margin: auto;
  //  padding: 0;
    //border-bottom: 1px solid lightslategray;


    .mobile {
      display: flex;
      background-color: #1C1C24;
     // z-index: 100;
      //display: block;
      // position: relative;

      .hide-bar {
        position: absolute;
        top: -10px;
       // position: initial;
      }

      img {
       max-width: 200px;
        margin: auto;
        display: block;
        z-index: 100;
      }
    }

    .side-bar {
      //  z-index: 100;
      padding-top: 0;
      &.hidden {
        left: -220px;
      }
      // <use xlink:href="#one" />

.mobile_bar {
  height: 70px;
}
      .menu {
        padding-top: 0;
      }

      .nav {
        border: 0;
      }
    }

    // &.hidden {
    //   left: -220px;
    .logo {
      // height: 30px;
      // width: 100%;
      display: none;

      img {
        display: none;
      }

      //}
    }

    .logo {
      //  display: none;
    }
  }

  .hide-bar {
    position: absolute;
    top: -10px;
    display: flex;
    //display: block;
   // position: fixed;
    //position: initial;
   // margin-top: -35px;
  }
}

