.sidebar {
  height: 100%;
  width: 20%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #1c1c24;
  overflow-x: hidden;
  padding-top: 10px;
  color: rgba(255, 255, 255, 80%);

  .menu {
    padding-top: 20px;

    .menu-item {
      border-left: 2px solid #1c1c24;
    }

    .menu-item:hover {
      border-left: 2px solid #FFFFFF;
      color: rgba(255, 255, 255, 100%);
    }
  }

  .nav {
    border-top: 1px solid lightslategray;
  }

  p {
    display: inline-block;
  }

  fa-icon {
    padding: 1em;
  }

  .logo {
    display: flex;
    justify-content: center;

    img {
      max-width: 80%;
    }
  }

  .tags {
    p {
      padding: 1em;
      font-size: 0.9em;
      color: rgba(255, 255, 255, 80%);
    }
  }
}
