.side-bar {
  height: 100%;
  width: 220px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #1c1c24;
  overflow-x: hidden;
  padding-top: 10px;
  color: rgba(255, 255, 255, 80%);
  transition: all 0.5s ease-in-out;

  .menu {

    .menu-item {
      border-left: 2px solid #1c1c24;

      &.active {
        border-left: 2px solid #FFFFFF;
        color: rgba(255, 255, 255, 100%);
      }
    }

    .menu-item:hover {
      color: rgba(255, 255, 255, 100%);
      cursor: pointer;
    }
  }

  .nav {
    border-top: 1px solid rgba(255, 255, 255, 10%);
  }

  p {
    display: inline-block;
  }

  fa-icon {
    padding: 20px;
    width: 60px;
    display: inline-block;
  }

  .logo {
    display: flex;
    justify-content: center;
    height: 55px;
    margin-top: -10px;

    img {
      width: 100%;
      max-width: 150px;
    }
  }

  .tags {

    .tags_title {
      width: 200px;
      padding-top: 10px;
      padding-left: 16px;
      font-size: 13px;
      color: rgba(255, 255, 255, 70%);
    }

    .tag {
      margin-left: 20px;

      .user_tags:hover {
        cursor: pointer;
        border: solid 2px rgba(255, 255, 255, 50%);
        color: rgba(255, 255, 255, 100%);
      }

      .user_tags {
        margin-right: 5px;
        border: solid 2px rgba(255, 255, 255, 10%);
        border-radius: 5px;
        padding-left: 6px;
        padding-right: 6px;
        padding-bottom: 4px;

        p {
          font-size: 13px;
          margin-bottom: 5px;
        }
      }
    }
  }
}

.hide-bar {
  display: none;
  color: white;
  font-size: 25px;
  position: absolute;
  margin-top: 20px;
  margin-left: 20px;
  z-index: 10;
}

@media screen and (max-width: 450px) {
  .logo-bar {
    .mobile {
      img {
        width: 170px;
        padding-top: 10px;
      }
    }
  }
}

@media screen and (max-width: 560px) {
  .logo-bar {
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 63px;
    background-color: #1C1C24;


    .mobile {
      display: flex;
      background-color: #1C1C24;

      .hide-bar {
        position: absolute;
        top: -10px;
      }

      img {
        max-width: 200px;
        margin: auto;
        display: block;
        z-index: 100;
      }
    }

    .side-bar {
      padding-top: 0;

      &.hidden {
        left: -220px;
      }

      .mobile_bar {
        height: 70px;
      }

      .menu {
        padding-top: 0;
      }

      .nav {
        border: 0;
      }
    }

    .logo {
      display: none;

      img {
        display: none;
      }
    }
  }

  .hide-bar {
    position: absolute;
    top: -10px;
    display: flex;
  }
}

.mobile {
  display: none;
}
