<!--<div class="uploads">-->
<!--  <div class="tag-channel-videos">-->
<!--    <div class="outer_box" *ngFor="let p of playlists" routerLink="/playlists/{{p.id}}" routerLinkActive="active">-->
<!--       <img class="thumbnail"-->
<!--             [src]="p.video.replace('https://www.youtube.com/watch?v=', 'https://img.youtube.com/vi/') + image_url"/>-->
<!--        <div class="page" [innerHTML]="v.duration">-->
<!--        </div>-->
<!--      <p class="title" title="{{p.title}}" [innerHTML]="p.title"></p>-->
<!--      <p class="timestamp" [innerHTML]="p.date"> atrás</p>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->


<app-favourites></app-favourites>

<div class="header">
  <h1>Playlists</h1>
</div>
<div class="uploads">
  <div class="videos">
    <div class="cel" *ngFor="let p of playListFilters">
      <div class="box" title="{{p.title}}" routerLink="/playlists/{{p.id}}" routerLinkActive="active">
        <div class="card_image">
          <img class="small_image"
               [src]="p.videos.replace('https://www.youtube.com/watch?v=', 'https://img.youtube.com/vi/') + image_url"/>
        </div>
        <div class="itens">
          <p class="title">{{p.title}}</p>
          <div class="category">
            <p class="title">{{p.category}}</p>
          </div>
        </div>
        <div class="play">
          <div class="text">{{p.numberOfVideos}} vídeo<span *ngIf="p.numberOfVideos">
            <span *ngIf="p.numberOfVideos > 1">s</span></span></div>
        </div>
      </div>

    </div>
  </div>
</div>


<div class="big-box">
  <div class="">

  </div>
</div>
