.uploads {
  color: #FFFFFF;

  .box {
    position: relative;
    width: 30%;
    height: 25%;
    border-radius: 20px;
  }

  .thumbnail {
    display: block;
    width: 100%;
    height: auto;
  }

  .play {

  }
}

//.outer_box {
//
//}
//
//.thumbnail {
//  position: relative;
//  width: 30%;
//  height: 25%;
//  border-radius: 20px;
//
//
//  .play {
//    position: absolute;
//    height: 100%;
//    width: 50%;
//    background: red;
//  }
//}
