<app-favourites></app-favourites>
<div class="header">
  <h1>{{'upload.nav_playlists' | translate}}</h1>
</div>
<div class="uploads">
  <div class="videos">
    <div class="cel" *ngFor="let p of playListFilters">
      <div class="box" title="{{p.title  | replaceAll : '-' : ' '}}">
        <div class="card_image" routerLink="/playlist/{{p.title}}" routerLinkActive="active">
          <img class="thumbnail" alt="thumbnail"
               [src]="p.videos.replace('https://www.youtube.com/watch?v=', 'https://img.youtube.com/vi/') + image_url"/>
        </div>
        <div class="itens">
          <p class="title" id="video-title" routerLink="/playlist/{{p.title}}" routerLinkActive="active">{{p.title | replaceAll : '-' : ' '}}</p>
          <div class="category">
            <p class="title" routerLink="/category/{{p.category}}" routerLinkActive="active" [innerHTML]="p.category"></p>
          </div>
        </div>
        <div class="play" routerLink="/playlist/{{p.title}}" routerLinkActive="active">
          <div class="text">{{p.numberOfVideos}} {{'upload.favorite_video' | translate}}<span *ngIf="p.numberOfVideos">
            <span *ngIf="p.numberOfVideos > 1">s</span></span></div>
        </div>
      </div>
    </div>
  </div>
</div>

