.uploads {
  color: #FFFFFF;

  .outer_box {

  }
}

.thumbnail {
  position: relative;
  width: 20rem;
  height: 15rem;
  border-radius: 20px;


  .play {
    position: absolute;
    height: 100%;
    width: 50%;
    background: red;
  }
}
