.header {
  // margin: 50px 0 35px 30px;
  // font-style: normal;
  // font-size: 16px;
  // letter-spacing: 0.1px;
  // color: #FAFAFB;
  h1 {
    margin-left: 30px;
    margin-top: 30px;
    color: #ffffff;
    font-size: 25px;
   // font-weight: 600;
  }
}

.uploads {
  display: flex;
  justify-content: center;

  .videos {
    //position: absolute;
    //top: 5em;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 25px;
    margin-left: 30px;

    .cel {
      width: 340px;
      //  height: 280px;
      //height: 270px;
      height: 255px;
      border-radius: 16px;
      background-color: #1c1c24;
      position: relative;

      .card_image {
        margin-bottom: 15px;
        width: 340px;
        height: 176px;
        // object-fit: cover;
        border-radius: 16px 16px 0 0;
        overflow: hidden;
      }

      .small_image {
        object-fit: cover;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        border-radius: 20px 20px 0 0;
        transition: all linear 0.4s;
      }

      .itens {
        // margin: 5px;
        // height: 75px;
        margin-top: -10px;
        height: 65px;
        display: flex;
        cursor: pointer;
        flex-direction: column;
        justify-content: center;

        .category {
          // margin-bottom: 10px;
          //margin-top: 10px;

          p {
            font-size: 14px;
          }
        }

        .title {
          z-index: 100;
          color: #FAFAFB;
          font-size: 18px;
          cursor: pointer;
          margin-top: 5px;
          //margin-bottom: 10px;
          margin-bottom: 5px;
          margin-left: 15px;
          margin-right: 15px;
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          width: 300px;
        }
      }
    }
  }


  .box {
    // position: relative;

    .play {
      position: absolute;
      top: 0;
      bottom: 0;
      //left: 15.7rem;
      right: 0;
      //width: 50%;
      //width: 30%;
      //height: 75%;
      height: 176px;
      width: 100px;
      opacity: 0.99;
      //transition: 0.5s ease;
      //background-color: #1C1C24;
      background: -webkit-gradient(linear, left top, left bottom, from(#1C1C24), to(rgba(28, 28, 36, 0.64)));
      cursor: pointer;
      border-radius: 0 18px 0 0;

      .text {
        color: white;
        font-size: 18px;
        position: absolute;
        top: 65%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
      }
    }
  }
}

//.outer_box {
//
//}
//
//.thumbnail {
//  position: relative;
//  width: 30%;
//  height: 25%;
//  border-radius: 20px;
//
//
//  .play {
//    position: absolute;
//    height: 100%;
//    width: 50%;
//    background: red;
//  }
//}
